api/dist
api/node_modules
api/*.zip
#-----------------
backend/canal/msa-auth/node_modules
backend/canal/msa-validate/node_modules

backend/negocio/msa-agent/node_modules
backend/negocio/msa-rewards/node_modules

backend/negocio/msa-rewards/.env
backend/negocio/msa-agent/.env
backend/canal/msa-validate/.env
backend/canal/msa-auth/.env

backend/negocio/msa-rewards/dist
backend/negocio/msa-agent/dist
backend/canal/msa-validate/dist
backend/canal/msa-auth/dist

#------------------
infra/.terraform
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/credentials.json